{% extends "default.html" %}

{% block body %}
{% markdown %}



this is from the second source repo, for version 2, inside the alt.md file

this line added via github

{% for i in range(0,2) %}
- {% markdown "../snippets/snippet.md" %}
{% endfor %}


<a href="{{ '/somewhere#testreplacement-nothing-after-this-testtext' | link}}">a link</a>
<a href="{{ link('/subsite-one/somewhere#testreplacement-nothing-after-this-testtext') }}">another link to the same place</a>


more text here!!!


{% endmarkdown %}
{% endblock %}
